main{
  position: relative;

  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  
  .active, .btn:hover {
    background-color: #666;
    color: white;
  }
  
  #myDIV{
    text-align: center;
  }
  
  #input1{
    text-align: center;
    margin: 5px;
  }
  
  #content{
    border: solid 1px black;
    height: 300px;
    margin: 20px;
  } 
}

